<div class="order-details">
  <div class="order-details__info">
    <% if order.has_checkout_step?("address") %>
      <%= render(
        'spree/orders/address_overview',
        address: order.bill_address,
        title: t('spree.billing_address')
      ) %>
    <% end %>

    <% if order.has_checkout_step?("delivery") %>
      <%= render(
        'spree/orders/address_overview',
        address: order.ship_address,
        title: t('spree.shipping_address')
      ) %>

      <%= render(
        'spree/orders/order_shipments',
        order: order,
        title: t('spree.shipments')
      ) %>
    <% end %>

    <% if order.has_checkout_step?("payment") %>
      <%= render(
        'spree/orders/payment_info',
        order: order
      ) %>
    <% end %>
  </div>

  <%= render 'spree/orders/order_items', order: order %>
  <%= render 'spree/orders/line_items', order: order %>
</div>
