<div class="payment-info">
  <h3 class="payment-info__title">
    <%= t('spree.payment_information') %>
  </h3>

  <%= link_to(
    "[#{t('spree.actions.edit')}]",
    checkout_state_path(:payment),
    { class: 'payment-info__edit' }
  ) unless @order.completed? %>

  <% order.payments.valid.each do |payment| %>
    <% source = payment.source %>

    <ul class="payment-info__info">
      <% if source.is_a?(Spree::CreditCard) %>
        <li>
          <% if source.last_digits %>
            <%= t('spree.ending_in') %> <%= source.last_digits %>
          <% end %>
        </li>
        <li><%= source.name %></li>
      <% else %>
        <li><%= payment.payment_method.name %></li>
      <% end %>
      <li>
        <strong><%= payment.display_amount %></strong>
        (<%= t(payment.state, scope: 'spree.payment_states') %>)
      </li>
    </ul>
  <% end %>
</div>
