<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>">
    <%= render partial: 'spree/components/layout/header' %>
    <%= flash_messages %>
    <%= render 'spree/components/navigation/breadcrumbs', taxon: @taxon, base_class: 'breadcrumbs' %>
    <main>
      <%= yield %>
    </main>
    <%= yield :templates %>
    <%= render partial: 'spree/components/layout/footer' %>
  </body>
</html>
