<div class="address-step">
  <fieldset class="address-step__billing" id="billing">
    <legend>
      <%= t("spree.billing_address") %>
    </legend>

    <%= form.fields_for :bill_address do |bill_form| %>
      <%= render(
        "spree/components/forms/address_inputs",
        form: bill_form,
        address_type: "billing",
        address: @order.bill_address
      ) %>
    <% end %>
  </fieldset>

  <fieldset class="address-step__shipping" id="shipping">
    <legend>
      <%= t('spree.shipping_address') %>
    </legend>

    <%= form.fields_for :ship_address do |ship_form| %>
      <%= render(
        'spree/components/forms/inputs/checkbox_input',
        checked: @order.shipping_eq_billing_address?,
        id: :order_use_billing,
        label: t('spree.use_billing_address'),
        name: "order[use_billing]",
        value: "1"
      ) %>

      <%= render(
        "spree/components/forms/address_inputs",
        form: ship_form,
        address_type: "shipping",
        address: @order.ship_address
       ) %>
    <% end %>
  </fieldset>

  <div class="address-step__actions">
    <%= render(
      "spree/components/buttons/button_primary",
      content: I18n.t("spree.save_and_continue"),
      name: :commit,
      type: :submit
    ) %>

    <% if try_spree_current_user %>
      <%= render(
        "spree/components/forms/inputs/checkbox_input",
        checked: try_spree_current_user.respond_to?(:persist_order_address),
        id: "save-user-address",
        label: I18n.t("spree.save_my_address"),
        name: :save_user_address,
        value: "1"
      ) %>
    <% end %>
  </div>
</div>
