<div class="delivery-step">
  <fieldset class="delivery-step__delivery">
    <legend>
      <%= t('spree.delivery') %>
    </legend>

    <%= form.fields_for :shipments do |ship_form| %>
      <%= render 'spree/components/checkout/proposed_shipment', ship_form: ship_form %>
    <% end %>

    <% if @differentiator.try(:missing?) %>
      <%= render "spree/components/checkout/unshippable_items", items: @differentiator.missing %>
    <% end %>

    <% if Spree::Config[:shipping_instructions] %>
      <%= render(
        'spree/components/forms/inputs/textarea_input',
        id: :order_special_instructions,
        label: t('spree.shipping_instructions'),
        name: 'order[special_instructions]'
      ) %>
    <% end %>
  </fieldset>

  <%= render(
    'spree/components/buttons/button_primary',
    content: I18n.t('spree.save_and_continue'),
    name: :commit,
    type: :submit
  ) %>
</div>
