<div class="payment-step">
  <fieldset class="payment-step__payment">
    <legend>
      <%= t('spree.payment_information') %>
    </legend>

    <%= render 'spree/components/checkout/payment_selector', methods: @order.available_payment_methods %>
    <%= render 'spree/components/checkout/payment_controls', methods: @order.available_payment_methods %>

    <% if @wallet_payment_sources.present? %>
      <%= render 'spree/components/checkout/existing_cards', wallet_payment_sources: @wallet_payment_sources %>
    <% end %>
  </fieldset>

  <%= render(
    'spree/components/buttons/button_primary',
    content: I18n.t('spree.save_and_continue'),
    name: :commit,
    type: :submit
  ) %>
</div>

<script>
  Spree.disableSaveOnClick();
</script>
