<div class="delivery-step">
  <fieldset class="delivery-step__delivery">
    <legend>
      <%= t('spree.delivery') %>
    </legend>

    <%= form.fields_for :shipments do |ship_form| %>
      <%= render 'spree/checkout/steps/delivery_step/proposed_shipment', ship_form: ship_form %>
    <% end %>

    <% if @differentiator.try(:missing?) %>
      <%= render "spree/checkout/steps/delivery_step/unshippable_items", items: @differentiator.missing %>
    <% end %>

    <% if Spree::Config[:shipping_instructions] %>
      <div class="textarea-input">
        <%= label_tag :order_special_instructions, "#{I18n.t('spree.shipping_instructions')}:" %>
        <%= text_area_tag 'order[special_instructions]' %>
      </div>
    <% end %>
  </fieldset>

  <%= button_tag(
    I18n.t("spree.save_and_continue"),
    class: 'button-primary',
    name: :commit
  ) %>
</div>
