<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <tr>
    <td>
      <%= link_to(render('spree/shared/image',
        image: (variant.gallery.images.first || variant.product.gallery.images.first),
        size: :small), variant.product) %>
    </td>
    <td>
      <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
      <p><%= variant.options_text %></p>
      <% if line_item.insufficient_stock? %>
        <p><%= t('spree.out_of_stock') %></p>
      <% end %>
      <p><%= line_item_description_text(line_item.description) %></p>
    </td>
    <td><%= line_item.single_money.to_html %></td>
    <td><%= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5 %></td>
    <td><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></td>
    <td><%= link_to 'Remove', '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %></td>

  </tr>
<% end %>
