<fieldset id="billing">
  <%= form.fields_for :bill_address do |bill_form| %>
    <legend>
      <%= t('spree.billing_address') %>
    </legend>
    <%= render partial: 'spree/address/form', locals: { form: bill_form, address_type: 'billing', address: @order.bill_address } %>
  <% end %>
</fieldset>

<fieldset id="shipping">
  <%= form.fields_for :ship_address do |ship_form| %>
    <legend>
      <%= t('spree.shipping_address') %>
    </legend>
    <div class="checkbox">
      <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
      <%= label_tag :order_use_billing, t('spree.use_billing_address'), id: 'use_billing' %>
    </div>
    <%= render partial: 'spree/address/form', locals: { form: ship_form, address_type: 'shipping', address: @order.ship_address } %>
  <% end %>
</fieldset>

<div class="form-buttons">
  <%= submit_tag t('spree.save_and_continue'), class: 'continue button primary' %>
  <% if try_spree_current_user %>
    <div class="save-user-address">
      <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
      <%= label_tag :save_user_address, t('spree.save_my_address') %>
    </div>
  <% end %>
</div>
