<%
  base_class = "text-input".freeze

  # Optional props
  id = local_assigns.fetch(:id, false)
  disabled = local_assigns.fetch(:disabled, false)
  label = local_assigns.fetch(:label, false)
  min = local_assigns.fetch(:min, false)
  placeholder = local_assigns.fetch(:placeholder, '')
  small = local_assigns.fetch(:small, false)
  type = local_assigns.fetch(:type, :text)
  value = local_assigns.fetch(:value, '')

  # Classes
  class_names = [base_class]
  class_names.push("#{base_class}--small") if small
  class_names = class_names.join(" ")
%>

<div class="<%= class_names %>">
  <% if label %>
    <label
      class="<%= class_names %>"
      <% if id %>
        for="<%= id %>"
      <% end %>
    >
      <%= label %>:
    </label>
  <% end %>

  <input
    name="<%= name %>"
    placeholder="<%= placeholder %>"
    type="<%= type %>"
    value="<%= value %>"
    <% if id %>
      id="<%= id %>"
    <% end %>
    <% if min %>
      min="<%= min %>"
    <% end %>
    <%= disabled ? "disabled" : "" %>
  >
</div>
