<% @body_id = 'product-details' %>

<% cache [I18n.locale, current_pricing_options, @product] do %>
  <article class="product-page" itemscope itemtype="http://schema.org/Product">
    <div class="product-page__images">
      <%= render 'product_image' %>
      <%= render 'product_thumbnails' %>
    </div>

    <div class="product-page__info">
      <%= render 'product_info' %>
      <%= render 'product_promotions' %>
      <%= render 'product_form' %>
      <%= render 'product_properties' %>
      <%= render 'product_taxons' %>
    </div>
  </article>
<% end %>
