<%
  base_class = "product-card".freeze

  # Classes
  class_names = [base_class]
  class_names = class_names.join(" ")

  url = spree.product_path(product, taxon_id: @taxon.try(:id))
  cached = @taxon.present? ?
    [I18n.locale, current_pricing_options, @taxon, product] :
    [I18n.locale, current_pricing_options, product]
%>

<% cache cached do %>
  <li class=<%= class_names %> itemscope itemtype="http://schema.org/Product">
    <article>
      <section class="product-card_image">
        <%= link_to render('spree/shared/image', image: product.gallery.images.first, size: :small, itemprop: "image"), url, itemprop: 'url' %>
      </section>
      <header class="product-card_header">
        <h2>
          <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
        </h2>
      </header>
      <section class="product-card_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <% if price = product.price_for(current_pricing_options) %>
          <span class="price selling" itemprop="price" content="<%= price.to_d %>">
            <%= price.to_html %>
          </span>
        <% end %>
        <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
      </section>
    </article>
  </li>
<% end %>
