<div class="proposed-shipment">
  <h2 class="proposed-shipment__title">
    <%= t('spree.package_from') %>
    <%= ship_form.object.stock_location.name %>
  </h2>

  <%= render "spree/components/checkout/shipment_items", shipment_items: ship_form.object.manifest %>

  <h3 class="proposed-shipment__secondary-title">
    <%= t('spree.shipping_method') %>:
  </h3>

  <ul class="shipping-methods">
    <% ship_form.object.shipping_rates.each do |rate| %>
      <li class="shipping-methods__rate">
        <%= render(
          'spree/components/forms/inputs/radio_input',
          checked: rate.selected,
          id: generate_shipping_method_rate_id(ship_form, "selected_shipping_rate_id", rate),
          label: "#{rate.name} #{rate.display_cost}",
          name: "#{ship_form.object_name}[selected_shipping_rate_id]",
          value: rate.id
        ) %>
      </li>
    <% end %>
  </ul>
</div>
