<div class="products">
  <aside>
    <%= render partial: 'spree/components/navigation/taxonomies' %>
    <%= render partial: 'spree/shared/search/filters' if @taxon.children.empty? %>
  </aside>
  <section>
    <h1 class="products__taxon-title"><%= @taxon.name %></h1>

    <%= render partial: 'spree/products/products', locals: { products: @products, taxon: @taxon } %>

    <% unless params[:keywords].present? %>
      <% cache [I18n.locale, @taxon] do %>
        <%= render partial: 'spree/products/products_by_taxon', collection: @taxon.children %>
      <% end %>
    <% end %>
  </section>
</div>
