<article class="auth-container" id="forgot-password">
  <h1><%= I18n.t('spree.forgot_password') %></h1>

  <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path, html: { class: "auth-form" } do |f| %>
    <div class="auth-form__input-wrapper">
      <div class="text-input">
        <%= label_tag :spree_user_email, "#{t("spree.email")}:" %>

        <%= text_field_tag 'spree_user[email]',
          nil,
          type: 'email',
          id: 'spree_user_email',
          placeholder: 'name@example.com'
        %>
      </div>
    </div>

    <div class="auth-form__input-wrapper">
      <%= render(
        "spree/components/buttons/button_primary",
        content: I18n.t("spree.reset_password"),
        full_width: true,
        name: :commit,
        type: :submit
      ) %>
    </div>

    <%= I18n.t("spree.or") %> <%= link_to I18n.t("spree.create_a_new_account"), spree.signup_path %>
  <% end %>
</article>
