<header class="header">
  <div class="header_branding">
    <%= render partial: 'spree/components/brand/logo' %>
  </div>
  <div class="header_primary-navigation">
    <%= render partial: 'spree/components/navigation/categories' %>
    <%= render partial: 'spree/components/search/form' %>
  </div>
  <div class="header_secondary-navigation">
    <%= render partial: 'spree/components/navigation/auth_link' %>
    <%= render partial: 'spree/components/cart/cart_link' %>
  </div>
</header>
