<div class="gateway-payment-method">
  <% param_prefix = "payment_source[#{payment_method.id}]" %>

  <div class="text-input">
    <% "name_on_card_#{payment_method.id}".tap do |id| %>
      <%= label_tag id, "#{t('spree.name_on_card')}:" %>

      <%= text_field_tag "#{param_prefix}[name]",
        @order.billing_name,
        id: id,
        autocomplete: "cc-name"
      %>
    <% end %>
  </div>

  <%= render(
    "spree/components/forms/inputs/text",
    autocomplete: "cc-number",
    id: "card_number_#{payment_method.id}",
    label: t('spree.card_number'),
    name: "#{param_prefix}[number]"
  ) %>

  <%= render(
    "spree/components/forms/inputs/text",
    id: "card_expiry_#{payment_method.id}",
    label: t('spree.expiration'),
    name: "#{param_prefix}[expiry]",
    placeholder: "MM / YY"
  ) %>

  <%= render(
    "spree/components/forms/inputs/text",
    id: "card_code_#{payment_method.id}",
    label: t('spree.card_code'),
    name: "#{param_prefix}[verification_value]"
  ) %>

  <% if @order.bill_address %>
    <%= fields_for "#{param_prefix}[address_attributes]", @order.bill_address do |f| %>
      <%= render partial: 'spree/address/form_hidden', locals: { form: f } %>
    <% end %>
  <% end %>

  <%= hidden_field_tag "#{param_prefix}[cc_type]", '', id: "cc_type", class: 'ccType' %>
</div>
