<fieldset
  class="address-step__<%= address_type %>"
  id="<%= address_type %>"
  data-controller="address"
>
  <legend>
    <%= t("spree.#{address_type}_address") %>
  </legend>

  <%= form.fields_for fields_name do |form| %>
    <%= yield %>

    <fieldset class="address-inputs" data-address-target="inputs">
      <div class="text-input">
        <%= form.label :name, "#{I18n.t("spree.name")}:" %>
        <%= form.text_field(
          :name,
          required: true,
          autofocus: true,
          autocomplete: "#{address_type} given-name"
        ) %>
      </div>

      <% if Spree::Config[:company] %>
        <div class="text-input">
          <%= form.label :company, "#{I18n.t("spree.company")}:" %>
          <%= form.text_field :company, autocomplete: "#{address_type} organization" %>
        </div>
      <% end %>

      <div class="text-input">
        <%= form.label :address1, "#{I18n.t("spree.street_address")}:" %>
        <%= form.text_field(
          :address1,
          required: true,
          autocomplete: "#{address_type} address-line1"
        ) %>
      </div>

      <div class="text-input">
        <%= form.label :address2, "#{I18n.t("spree.street_address_2")}:" %>
        <%= form.text_field :address2, autocomplete: "#{address_type} address-line2" %>
      </div>

      <div class="text-input">
        <%= form.label :city, "#{I18n.t("spree.city")}:" %>
        <%= form.text_field(
          :city,
          required: true,
          autocomplete: "#{address_type} address-level2"
        ) %>
      </div>

      <div class="select-input">
        <%= form.label :country_id, "#{I18n.t("spree.country")}:" %>

        <%= form.collection_select(
          :country_id,
          available_countries,
          :id,
          :name,
          {},
          autocomplete: "#{address_type} country-name",
          required: true,
          "data-address-target": "country",
          "data-action": "change->address#updateState"
        ) %>
      </div>

      <% if Spree::Config[:address_requires_state] %>
        <span>
          <% available_states = address.country&.states.presence %>
          <% has_state_list = available_states.present? %>

          <div class="select-input">
            <%= form.label :state_id, "#{I18n.t("spree.state")}:" %>

            <%= form.collection_select(
              :state_id,
              available_states,
              :id,
              :name,
              { include_blank: true },
              autocomplete: "#{address_type} address-level1",
              required: address.country&.states_required,
              style: available_states ? "" : "display: none;",
              class: "required",
              disabled: !has_state_list,
              required: false,
              "data-address-target": "stateId"
            ) %>
          </div>

          <%= form.text_field(
            :state_name,
            class: !has_state_list ? "required" : "",
            style: has_state_list ? "display: none;" : "",
            disabled: has_state_list,
            autocomplete: "#{address_type} address-level1",
            "data-address-target": "stateName"
          ) %>

          <noscript>
            <%= form.text_field(
              :state_name,
              class: "required",
              autocomplete: "#{address_type} address-level1",
              required: true
            ) %>
          </noscript>
        </span>
      <% end %>

      <div class="text-input">
        <%= form.label :zipcode, "#{I18n.t("spree.zip")}:" %>

        <%= form.text_field(
          :zipcode,
          required: address.require_zipcode?,
          autocomplete: "#{address_type} postal-code"
        ) %>
      </div>

      <div class="text-input">
        <%= form.label :phone, "#{I18n.t("spree.phone")}:" %>

        <%= form.telephone_field(
          :phone,
          required: address.require_phone?,
          autocomplete: "#{address_type} home tel"
        ) %>
      </div>

      <% if Spree::Config[:alternative_shipping_phone] %>
        <fieldset class="text-input">
          <%= form.label :alternative_phone, "#{I18n.t("spree.alternative_phone")}:" %>
          <%= form.telephone_field :alternative_phone, autocomplete: "#{address_type} tel" %>
        </di>
      <% end %>
    </fieldset>
  <% end %>
</fieldset>
