<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= csrf_meta_tags %>

<%= favicon_link_tag 'favicon.ico' %>

<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= javascript_include_tag 'spree/frontend/all' %>

<%= yield :head %>
