<%
  schema_properties = {
    itemprop: 'offers',
    itemscope: true,
    itemtype: 'http://schema.org/Offer'
  }
%>

<%= form_for :order, url: cart_line_items_path, html: schema_properties do |f| %>
  <% if product_variants_with_options(product).any? %>
    <div class="variant-container">
      <% sorted_option_types(product).each_with_index do |option_type, i| %>
        <div class="variant-selection">
          <%= render 'cart_line_items/product_selection/option_type', product: product, option_type: option_type, index: i %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render 'cart_line_items/product_variants', product: product %>

  <% if product.price %>
    <%= render 'cart_line_items/product_submit', product: product %>
  <% else %>
    <div id="product-price">
      <p data-js="price" itemprop="price">
        <%= t('spree.product_not_available_in_this_currency') %>
      </p>
    </div>
  <% end %>

  <% Spree::PaymentMethod.available_to_users.select{ |payment_method| payment_method.try(:display_on_product_page) }.each do |payment_method| %>
    <%= render partial: "products/payment/#{payment_method.product_page_partial_name}", locals: {payment_method: payment_method} %>
  <% end %>
<% end %>
